body {
  background-color: white}
p {
  color: rgb(0, 0, 0);
  font: 300 4em/150% Impact;
  text-align: center;}


/* loading dots */

.loading:after {
  content: ' .';
  animation: dots 1s steps(2, end) infinite;}

@keyframes dots {
  0%, 20% {
    color: rgba(0,0,0,0);
    text-shadow:
      .25em 0 0 rgba(37, 37, 37, 0),
      .5em 0 0 rgba(0,0,0,0);}
  40% {
    color: white;
    text-shadow:
      .25em 0 0 rgba(0, 0, 0, 0),
      .5em 0 0 rgba(53, 53, 53, 0);}
  60% {
    text-shadow:
      .25em 0 0 rgb(2, 2, 2),
      .5em 0 0 rgba(0,0,0,0);}
  80%, 100% {
    text-shadow:
      .25em 0 0 rgb(2, 2, 2),
      .5em 0 0 rgb(29, 28, 28);}}